@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #d5d6d196;
}

#menu-principal a {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background: #ff0823;
    text-align: center;
    border-radius: 1rem;
    width: 7rem;
    margin: 1rem auto;
}

#menu-principal a:hover {
    color: #000000;
}

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5d6d1;
    flex-basis: 20%;
    margin: 30px;
}

div {
    width: 200px;
}

.description {
    text-align: center;
    margin: 5px 2px;
    font-size: 12px;
}

#img-product {
    width: 100px;
    border-radius: .50rem;
}

#stars{
    width: 50px;
    text-align: center;
    border-radius: .25rem;
}

.price {
    font-weight: 600;
}

.button {
    border-radius: 10px;
    font-size: 10px;
    border: 0.1px solid black;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: silver;
}

@media (max-width: 700px){
    .button {
        width: 100%;
        border-radius: 0px;
    }

    .card{
        flex-basis: 100%;
    }

    .description{
        display: none;
    }

    img {
        display: none;
    }
}

#footer{
    text-align: center;
    color: #ff0823;
    position:absolute;
    bottom: 0; 
    width: 100%;
    margin-top: 10px;
}