@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#body-landpage{
    background-image: url('../components/img-bf2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-color: #000000;
}

.container-geral{
    font-family: Roboto;
    text-align: center;
    color: #011529;
    margin: 2rem auto;
}

.container-button{
    text-align: center;
    margin: 2rem auto;
}

.align-span{
    font-family: Roboto;
    background: #ff0823;
    border-radius: 1rem;
    font-size: 24px;
    width: 37rem;
    margin: 3rem 0rem 0rem 35rem;
}

.container-input{
    text-align: center;
    margin: 0 -0.5rem;
}

html{
    margin: 2rem auto;
    width: 68rem;
}

#margin-span{
    margin: 3rem 1.45rem;
    color: #011529;
    
}

#input-border{
    border-radius: .25rem;
    padding: .25rem 3rem .25rem 3rem;
    text-align: center;
}

#input-border-2{
    border-radius: 1.25rem;
    padding: 6px 1.5rem 6px 1.5rem;
    font-size: 14px;
}

.button{
    font-family: Roboto;
    font-weight: bolder;
}

.button:hover{
    cursor: pointer;
    background-color: black;
    color: #ff0823;
}

#h3{
    margin-top: -1rem;
}

#nome{
    border-radius: 1.25rem;
    font-size: unset;
    width: 95%;
    text-align: center;
}

#email{
    border-radius: 1.25rem;
    font-size: unset;
    width: 95%;
    text-align: center;
    
}

::placeholder{
    color: aqua;
}

