@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: 1px solid chartreuse;
    width: 200px;
}

img {
    width: 100px;
}

.description {
    text-align: center;
    margin: 5px 2px;
    font-size: 10px;

}

.price {
    font-weight: 600;
}

.button {
    border-radius: 20px;
    border: 3px solid blue;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(29, 247, 0);
}
@media (max-width: 700px){
    .button {
        width: 100%;
        border-radius: 0px;
}

.card{
flex-basis: 100%;
}

.description{
    display: none;
}

img {
    display: none;
}
}