@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #d5d6d196;
}

h3{
    text-align: center ;
}

ul{
    margin: 0 auto;
}

#menu-principal a {
    color: #ffffff;
    font-weight: 620;
    font-size: 17px;
    background: #ff0823;
    text-align: center;
    border-radius: 1rem;
    width: 7.5rem;
    margin: 1rem 1rem;
}

#menu-principal a:hover {
    color: #000000;
}

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5d6d1;
    flex-basis: 20%;
    margin: 12px 30px;
}

div {
    width: 200px;
}

.description {
    text-align: center;
    margin: 5px 2px;
    font-size: 12px;
}

#img-product {
    width: 100px;
    border-radius: .50rem;
}

#stars{
    width: 50px;
    text-align: center;
    border-radius: .25rem;
}

.price {
    font-weight: 600;
}

.button {
    border-radius: 10px;
    font-size: 10px;
    border: 0.1px solid black;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: silver;
}

#footer{
    text-align: center;
    color: #ff0823;
    position: unset;
    bottom: 0; 
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 700px){

    .navbar {
        position: fixed;
     }

     .card {
        margin-left: 8rem;
    }

    #menu-principal a {
        font-size: 10px;
        width: 5rem;
        margin: .25rem;
        font-weight: 1000;
    }

    .button {
        border-radius: 30px;
    }

    h3{
        text-align: center ;
    }

    .card{
        flex-basis: 100%;
    }

    #footer{
        display: grid;
        position: unset;
    }
}

