@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#body-home{
    background: #69bff8;
}
#body-landpage{
    background-image: url('./img-bf.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container-geral{
    font-family: Roboto;
    text-align: center;
    color: #011529;
    margin: 2rem auto;
    max-width: 500rem;
}

.container-button{
    text-align: center;
    max-width: 18rem;
    margin: 2rem auto;
}

.align-span{
    max-width: 54rem;
    margin: 20rem auto;
    font-family: Roboto;
    background: #1d9174dc;
    border-radius: 1rem;
    padding-top: 19px;
    padding-bottom: 12px;
    font-size: 32px;    
}

.container-input{
    text-align: center;
    margin: 0 -0.5rem;
}
    
#font-span{
    margin: 13.7rem;
    color: #000000;
}

#margin-span{
    margin: 3rem auto;
}

#input-border{
    border-radius: .25rem;
    padding: .25rem 3rem .25rem 3rem;
    text-align: center;
}

#input-border-2{
    border-radius: 1.25rem;
    padding: 10px 3.5rem 10px 3.5rem;
}

.button{
    font-family: Roboto;
}
.button:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(29, 247, 0);
}

#imgbf{
    border-radius: 5rem;
}

#h3{
    margin-top: -1rem;
}

#nome{
    border-radius: 1.25rem;
    padding: 1rem 15rem 0 0.5rem;
    font-size: unset;
    text-align: center;
}



#email{
    border-radius: 1.25rem;
    padding: 1rem 15rem 0 0.5rem;
    font-size: unset;
    text-align: center;
}

/* ========== */

.card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#div-home {
    border: 1px solid chartreuse;
    width: 200px;
}

#img-home {
    width: 100px;
}

.description {
    text-align: center;
    margin: 5px 2px;
    font-size: 10px;
}

.price {
    font-weight: 600;
}

.button-home {
    border-radius: 20px;
    border: 3px solid blue;
}

.button-home:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(29, 247, 0);
}
@media (max-width: 700px){
    .button-home {
        width: 100%;
        border-radius: 0px;
    }
    .card{
        flex-basis: 100%;
    }
    .description{
        display: none;
    }
    #img-home {
        display: none;
    }
}